<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368216397277-j4vggdnl37h8qhqc9je33rk3jbbjopf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368216397277-j4vggdnl37h8qhqc9je33rk3jbbjopf1</string>
	<key>API_KEY</key>
	<string>AIzaSyANF7c3vccHfrdQp8avs77Y1AfqlxgM4dI</string>
	<key>GCM_SENDER_ID</key>
	<string>368216397277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>snta.me.QuickNote</string>
	<key>PROJECT_ID</key>
	<string>quick-note-26701</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-note-26701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368216397277:ios:28c59f45f422d630139234</string>
</dict>
</plist>